page-home {
  ion-content{
      background: #4aa1f3!important;
    .center{
      text-align: center!important;
      margin-top: 50% !important;
    }
    .Title{
      font-size: 50px!important;
      color: white;

    }
    .recerveBtn{
      text-transform: none;
      border-radius: 5px !important;
      color:#4aa1f3!important;

    }
  }

}


