page-settings {
  ion-content{
    background: #f4f4f7!important;
    ion-icon{
      //color: #488aff!important;
      margin-right: 2px!important;
    }
    ion-item-divider{
      margin-top: 0!important;
    }
  }

}
